*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.parent
{
    margin: 100px auto;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.parent img
{
    height: 100%;
    width: 100%;
}

.contant
{
    width: 85%;
    height: 85%;
    background-color:rgba(0, 0, 0, 0.452);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25px;
    bottom: 30px;
    left: 26px;
    right: 30px;
    opacity: 0;
    transition: all .5s;

}

.contant p{
    margin: 10px;
    margin-bottom: 10px;
}

.contant i
{
font-size: 22px;
font-weight: 600;
}

.parent:hover .contant
{
    transform: scale(1.2);
    opacity: 1;
}

.contant::before
{
    content: "";
    width: 30px;
    height: 30px;
    right: 98px;
    top: -35px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    position: relative;
}

.contant::after
{
    content: "";
    width: 30px;
    height: 30px;
    right: -92px;
    top: 30px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    position: relative;
}


